.button {
    background-color: unset;
    border: 1px green solid;
    border-radius: 15px;
    padding: 10px 25px;
    display: flex;
    align-items: center;
    justify-content: center;
    align-content: center;
    flex-shrink: 0;
    font-size: 22px;
    color: #fff;
}
