.button {
    background-color: unset;
    border: 1px green solid;
    border-radius: 15px;
    padding: 5px 15px;
    display: flex;
    align-items: center;
    justify-content: center;
    align-content: center;
    flex-shrink: 0;
    font-size: 45px;
    color: #fff;
    font-family: Orbitron, sans-serif;
    // Fixed widths
    &--xs {
        width: 100px;
    }

    &--sm {
        width: 150px;
    }

    &--md {
        width: 200px;
    }

    &--lg {
        width: 250px;
    }

    &--xl {
        width: 300px;
    }

    // Full width
    &--full {
        width: 100%;
    }
}
